body, html {
    background: #efeff3;
    color: rgba(0,0,0,.85);
    margin: 0;
    padding: 0;
    font-family: reason-new,sans-serif;
    font-display: swap;
  }
  a,
  a:active,
  a:visited,
  a:focus,
  a:hover
  {
    font-weight: 500;
    text-decoration: none;
    color: rgba(0,0,0,.85);
  }
  @media (prefers-color-scheme: dark) {
    body, html {
      background: #000;
      color: rgba(255,255,255,.85);
    }
    a,
    a:active,
    a:visited,
    a:focus,
    a:hover
    {
      font-weight: 500;
      text-decoration: none;
      color: rgba(255,255,255,.85);
    }
  }
  #brand {
    font-family: reason-new,sans-serif;
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .3em;
    margin-right: -0.3em;
    font-size: 2.4em;
  }
  #brand > b {
    font-weight: 600;
    margin-left: .3em;
  }
  @media screen and (max-width: 575.98px) {
    #brand {
      font-size 7vw;
    }
  }
  @media screen and (max-width: 767.98px) {
    #brand {
      font-size: 5.5vw;
    }
  }
  #slogan {
    font-family: reason-new, sans-serif;
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 6em;
  }
  #center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
  }